.process-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width:770px) {
    .process-grid{
        display: grid;
        grid-template-columns: auto;
        margin:0 auto;
        
    }
}