project/apps/client/node_modules
project/apps/server/api/application/libraries/mpdf/paragonie/random_compat/dist
project/apps/server/cashfree/libraries/mpdf/paragonie/random_compat/dist
project/apps/client/.env
.DS_Store
project/.DS_Store
project/apps/server/api/.DS_Store
project/apps/client/.DS_Store
