.investor-sidebar a {
    color: #7e7e7e;
}

.investor-sidebar a li:hover {
    /* color: var(--heading-color) !important; */
    background-color: #1d1b31 !important;
    border-radius: 10px;
    /* background: #d5d5d5; */
    /* padding: 10 !important; */
}

.investor-sidebar a.active li {
    /* color: var(--heading-color) !important; */
    background-color: #1d1b31 !important;
    border-radius: 10px;
    /* background: #d5d5d5; */
    /* padding: 10 !important; */
    /* border-bottom: 2px solid black; */
}

.investor-sidebar {
    padding-left: 0;
}

.investor-sidebar i {
    position: relative;
    top: 2px;
    font-size: 15px;
    color: white;

}

/* #hdii {
    padding-left: 30px;
} */

li {
    list-style: none;
}

.dashboard-items .single {
    background: linear-gradient(85deg, #fafeff, #e7fafe);
    padding: 14px 27px;
    /* margin-top: 200px !important; */
}

.dashboard-items .single h2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 0;
    padding-bottom: 0;
}

.dashboard-items .single small {
    font-size: 11px;
    position: relative;
    top: -8px;
}

.dashboard-items .view-all-comments {
    background: #f7f7f7;
    padding: 13px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 97px;
    border-radius: 10px;
}

.dashboard-items .view-all-comments p {
    margin-bottom: 0;
    font-weight: 700;
    line-height: 16px;
    font-size: 13px;
    text-align: center;
}

.dashboard-items .view-all-comments i {
    font-size: 25px;
}
.dashboard-items .heads-names{
    display: none;
}
.dashboard-items .active{
    display: block;
}

.kyc-cards .single {
    background: #fff;
    padding: 17px 19px;
    border-radius: 6px;
    min-height: 110px;
    transition: all 500ms;
    border: 1px solid #ddd;
}

.kyc-cards .single:hover {
    background: #fff;
    box-shadow: 27px 11px 30px #ddd;
}

.kyc-cards .single span {
    font-weight: 400;


    font-size: 13px;
    padding: 2px 13px;
    border-radius: 3px;
}

.kyc-cards .single p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 19px;
    margin-top: 10px;
    color: #000;
}

.disc-list {
    padding-left: 20px;
    margin: 20px 0;
}

.disc-list li {
    list-style: disc;
    font-size: 16px;
}
/* new css */
.dashboard-cards{
    margin-bottom: 25px;
}
.dashboard-cards .investor-names{
    font-size: 17px !important;
    margin-bottom: 15px !important;
}
.dashboard-cards h1{
    font-size: 20px;
    color: grey !important;
    color: var(--prime-purple) !important;
    font-weight: 900;
    margin-bottom: 20px;
}
.dashboard-cards a{
    display: inline-block;
    text-align: right;
    width: 100%;
    color: #887979;
    font-size: 13px;
}
.dashboard-cards p{
font-size: 14px;
}
.family-names h4{
    margin-bottom: 25px;
    font-size: 25px;
    color: #111 !important;
}
.family-bread{
    background: #29176F;
    padding: 15px;
    align-items: center;
    
}
.family-bread li.active{
    color: white;
}
.family-bread li{
    font-size: 15px;
}
.bg-lights-grey{
    background: rgba(0, 0, 0, 0.035);
}
.new-tables table{
    width: 100%;
    width: max-content;
    min-width: 100%;
    
    table-layout: auto;
}
.new-tables .ant-table-thead .ant-table-cell{
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    color: #000000d9;
    font-weight: 500;
    position: relative;
    text-align: left;
    transition: background .3s ease;
    padding: 10px;
    border-right: 1px solid #f0f0f0;
}
.new-tables .ant-table-tbody{
    background-color: white;
}
.new-tables .ant-table-tbody .ant-table-cell{
    padding: 15px 5px;
    border-right: 1px solid #f0f0f0;
}
.new-tables .ant-table-tbody .ant-table-cell .done{
    background: green;
    color: white;
    padding: 4px 5px;
    border-radius: 5px;
    font-size: 10px;
}
.new-tables .ant-table-tbody .ant-table-placeholder{
    border-bottom: 1px solid #f0f0f0;
}
.new-tables .ant-table-tbody .ant-table-cell .reject{
    background: red;
    color: white;
    padding: 4px 5px;
    border-radius: 5px;
    font-size: 10px;
}

.new-tables .ant-table-tbody .ant-table-cell .pending{
    background: #F0AD4E;
    color: white;
    padding: 4px 5px;
    border-radius: 5px;
    font-size: 10px;
}
.row-padding-all{
    padding: 40px 25px;
}
.new-heading h2{
    margin-bottom: 50px !important;
}
.view-btns{
    background: #1890FF;
    padding: 2px 20px;
    color: white;
    border-radius: 5px;
}
.payment-btn{
    background: #F6F6F6;
    padding: 2px 20px;
    color: grey;
    border-radius: 5px;
}
.search-inputs input{
    width: 60%;
    border: 1px solid #e9dcdc;
    padding: 7px;
    border-radius: 4px;
    font-size: 14px;
}
.search-inputs input:focus{
    outline: none !important;
}
.ant-table-cell .downlaod-pdf{
    background: #1C20F5;
    color: white;
    padding: 3px 20px;
    border-radius: 5px;
    margin-left: 30px;
}
.add-family-butttons{
    background: #29176F !important;
    /* color: white !important; */
    padding: 10px !important;
    border-radius: 5px !important;
}
.family-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

}
.filteruser-dropdown{
    width: 70% !important;
}
.filteruser-dropdown select{
    width: 100%;
    border: none;
}
.filteruser-dropdown select:focus{
    outline: none !important;
}
.card-dashboard-rows{
    margin-top: 25px;
}
.form-family{
    background: white;
    padding: 50px;
}
.form-family .login-form{
    width: 100% !important;
    max-width: 100%;
}
.alredy-accounts{
    display: flex;
    gap: 10px;
}
.alredy-accounts span{
    font-size: 17px !important;
}
.success-cards{
    background: green;
    color: white;
    padding: 6px 5px;
    font-size: 12px;
    border-radius: 5px;
}
.offline-cards{
    background: red;
    color: white;
    padding: 6px 5px;
    font-size: 12px;
    border-radius: 5px;
}
.ant-table-content{
    overflow: auto hidden;
}



.familyotpmodal{
    color: green !important;
    font-size: 15px;
    margin: 20px 0;
}