

.join-section>h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    

}

.join-section {
    text-align: center;
    padding: 4rem 3rem
}

.join-sec-yellow {
    background-color: #e8edef98;
}

.join-sec-yellow>h1 {
    font-size: 7rem;
    text-transform: uppercase ;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: 0 0 -3.3rem;
    -webkit-user-select: none;

    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* -webkit-text-stroke: 1px #f2ba51c0; */
    color: orange !important;
   
}

@media screen and (max-width: 30em) {
    .join-sec-yellow>h1 {
        line-height:.7
    }
}

.join-sec-yellow>h2 {
 margin-top: 15px;
    line-height: 0.6 !important;
    font-family: "Raleway", sans-serif;
    font-weight: 800;

}

.index_pitch {
    width: 65%;
    margin: 2rem auto
}

.index-button {
    padding: .7rem 2.2rem;
    color: #fff;
    border-radius: .2rem;
    font-size: 1rem;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    letter-spacing: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    cursor: pointer;
    background-color:rgb(41, 23, 111)
}
.index-button:hover{
    color: #f0bb62;
}



@media screen and (max-width: 30em) {
    .join-section {
        text-align:center;
        padding: 3rem 1rem
    }

    .join-sec-yellow>h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 -1.3rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-stroke: 1px #f0bb62;
        color: transparent
    }
}

@media screen and (max-width: 30em)and (max-width:30em) {
    .join-sec-yellow>h1 {
        line-height:.7
    }
}







.Footer_footer__Dhw_9 {
    width: 100%;
    background-color:rgb(41, 23, 111);
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
    grid-template-columns: max-content 1fr max-content;
    grid-column-gap: 1.5rem;
    -moz-box-align: center;
    align-items: center
}

.Footer_footerText__YieoY {
    color: rgba(255, 255, 255, .75);
    font-size: 15px;
    line-height: 12px;
    text-align: start;
}

.Footer_footerLogo__Dz6fy {
    width: 3rem;
    height: 3rem
}

.Footer_footerMain__5yv_j {
    display: grid;
    grid-template-columns: repeat(2,-webkit-max-content);
    grid-template-columns: repeat(2,max-content);
    grid-column-gap: 1rem;
    -moz-box-align: center;
    align-items: center
}

.Footer_footerMain__5yv_j>p {
    font-size: .6rem
}

.Footer_footerMain__5yv_j>p>a {
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer
}

.Footer_footerMain__5yv_j>p>a:hover {
    color: rgba(255,255,255,.8)
}

.Footer_footerSocials__Dn41J {
    list-style: none;
    display: -moz-box;
    display: flex;
    grid-gap: .4rem;
    gap: .4rem;
    font-size: .9rem
}

.Footer_footerSocials__Dn41J>li {
    background-color:rgb(41, 23, 111);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: -moz-box;
    display: flex;
    cursor: pointer;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    line-height: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.Footer_footerSocials__Dn41J>li:hover {
    background-color: transparent
}

.Footer_footerSocials__Dn41J>li>a {
    color: #fff
}

@media screen and (max-width: 30em) {
    .Footer_footer__Dhw_9 {
        padding:1rem 2rem 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: .4rem
    }

    .Footer_footerLogo__Dz6fy {
        width: 4rem;
        height: 4rem
    }

    .Footer_footerMain__5yv_j {
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 1rem;
        justify-items: center;
    }
}
