.header p{
    text-align: center;
    font-size: 30px;
}

.new-homepage{
    margin: 60px;
}
  
  .header {
    margin-bottom: 60px;
  }
  
  .header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tabs button {
    background-color: #4b0082; /* Tab background color */
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  .tabs button.active {
    background-color: #fff; /* Active tab background color */
    color: #4b0082; /* Active tab text color */
  }
  
  .tabs button:hover {
    background-color: #9370db;
  }
  
  .content {
    display: flex;
    /* flex-direction: column; */
    gap: 20px; /* Space between cards */
  }
  
  .card {
    background-color: #4b0082; /* Card background color */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  